@model FileStorage.DAL.Models.Document

<div class="modal-content text-center">
    <div class="modal-header text-center">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>

        <h4>Детали</h4>
    </div>
    <div class="modal-body text-center">
        <dl class="dl-horizontal text-center">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tag.TagName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tag.TagName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            @Html.ActionLink("Скачать", "GetFile", "Storage", new { hash = Model.Hash }, new { @class = "btn btn-primary" })
        </dl>
    </div>
</div>